.App {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #161616
}

.block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;

}
img{
  width: 500px;
}

.cartIcon{
  width: 70px;
}

.categoryButtonSelected{
  background-color: green;
}
.categoryButton:hover {
 background-color: #fdeb6b;;
}
.categoryButton{
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.icon{
  width: 20px;
}


p,h1,h2,button {

 
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}
button{
  background-color: #fdeb6b;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 7px;
  padding: 3px;

}
@media all and (max-width:500px  ){
	.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  img{
    width: 300px;
  }
  h1{
    text-transform: uppercase;
  }
   
.cartIcon{
  width: 50px;
}
}
